h1 {
    color: var(--light-blue);
    margin: 1rem 0;
    font-size: 3.6rem;
}

main {
    padding: 0 2rem;
}

main p {
    max-width: 48rem;
    text-align: justify;
}

article {
    margin: 2rem 0;
}

button {
    margin: 0.3rem;
    width: 18rem;
    height: 4rem;
    border: solid 1px var(--orange);
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: var(--orange);
    transition: 0.5s;
}

@media (max-width: 450px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 0.9rem;
    }
}
